<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD de Coordenador</title>
</head>
<body>
    <h1>CRUD de Coordenador</h1>
    <form action="/editar_coordenador" method="POST">
          <label for="Usuario_idUsuario">Usuario:</label>
          <select id="Usuario_idUsuario" name="Usuario_idUsuario">
            <option value="Usuario_idUsuario" data-id="10">Volvo</option>
          </select>
          <input type="submit">
        <!-- <button type="submit">Editar Disciplina</button> -->
        <button type="submit" name="action" value="alterar">Alterar</button>
        <button type="submit" name="action" value="incluir">Incluir</button>
        <input type="hidden" id="id_disciplina" name="id_disciplina" />
      </form>
</body>
</html>